@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerenciador de Tarefas</h1>
    <p>Desenvolvido por Giovanni Amêndola: <a href="https://www.linkedin.com/in/giovanni-amendola/">Linkedin</a></p>

    <a class="nav-link text-center" asp-area="" asp-controller="Tarefa" asp-action="Index">Começar</a>
</div>
